<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 9 - Homework</h1>
</div>

For each question below, paste in the query or queries you used in order to answer the question. Also INCLUDE A SCREENSHOT of the results from your query.

Remeber to check the ER Diagram to understand where the different pieces of information you need live: https://www.jooq.org/sakila


1. What are the names of all the languages in the database (sorted alphabetically)?
2. Return the full names (first and last) of actors with “SON” in their last name, ordered by their first name.
3. Find all the addresses where the second address is not empty (i.e., contains some text), and return these second addresses sorted.
4. Return the first and last names of actors who played in a film involving a “Crocodile” and a “Shark”, along with the release year of the movie, sorted by the actors’ last names.
5. How many films involve a “Crocodile” and a “Shark”?
6. Find all the film categories in which there are between 55 and 65 films. Return the names of these categories and the number of films per category, sorted by the number of films.
7. What are the top 10 largest payments? Sort largest to smallest.
8. Which actors have the first name ‘Scarlett’? Sort by last name descending.
9 Which actors have the last name ‘Johansson’? Sort by first name ascending.
10. How many distinct actors last names are there?
11. Which last names are not repeated?
12. Which last names appear more than once?
13. Which actor has appeared in the most films?
14. Is ‘Academy Dinosaur’ available for rent from Store 1?
15. Insert a record to represent Mary Smith renting ‘Academy Dinosaur’ from Mike Hillyer at Store 1 today .
16. When is ‘Academy Dinosaur’ due?
17. What is that average running time of all the films in the sakila DB?
18. What is the average running time of films by category?

Bonus Question 1:

Create a new table called "theater". It should have at least 5 attributes: one primary key, two foreign keys (from existing tables), and two other attributes of your choosing. Insert at least 5 records into the table. Paste below the query you used to make the table, and a screenshot of the table with it's data (SELECT * from it when done).

Bonus Question 2:

Create a new table from an existing one. Change at least three of the data types of the new table. Sort the new table by any column of your choosing and delete the last 10 rows based on however you sorted. Include all the queries you used below. Prove that you completed the steps above.