# Let's work on reviewing/working through some of the methods we just learned.

https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html
https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html
https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

https://pandas.pydata.org/pandas-docs/stable/reference/index.html

# Exercise 1:
    
    Please import the pandas library and the titanic csv into Pandas.

# Exercise 2:

    Using the methods built into pandas, please answer the following questions.
    
    1. How many rows are in the Titanic CSV?
    2. How many columns are in the CSV?
    3. What is the index being used for the rows?
    4. What are the column names (hint: we didn't go over this, look this up in the docs)
    5. What Datatypes are in our data frame?
    6. Which column has the highest number of Null Values?

# Exercise 3:

    Using pandas, create the following DataFrames from our existing DataFrame.
    
    1.Create a DataFrame that contains only the passengers that were from Ages 10 to 20, and that did not surive.
    
    2.Create a DataFrame that contains only the passengers whoose ages ARE null. (Hint we didn't go over this, but negation is in the docs)
    
    3.Create a DataFrame that contains only the rows from the DataFrame rows 1-100 that contain a name that starts with A. 
    (This one is challenging, you might need to do a bit of googling to see how to do this.)

# Exercise 4:

    Using pandas apply the following transormations to the DataFrame.
    REMEMBER, THESE ARE DESTRUCTIVE CHANGES. RELOAD YOUR "CLEAN" TITANIC CSV IN EACH BUBBLE SO YOUR PREVIOUS CHANGES AREN'T KEPT
    
    1. Change all of the null values in the Age Column to 0s. (You'll need some google-fu for this)
    
    2. Create a new dataframe that has all of the People with no Cabin removed.
    
    3. Create a new DataFrame that shows all of the Women who survived who were over 40. Display their Age, Names, and their PClass.
    
    4. Change every Males name to Bill Billiamson.