# Let's make our own custom module called Comparable.

### Our module will have the following methods:

```
def compare_num(# Params: num1 -> float, num2 -> float):
    # Compares two numbers and returns the larger number
    # If equal, returns True

def add_num(# Params: num1 -> float, num2 -> float):
    # Adds two numbers and returns value

def subtract_num(# Params: num1 -> float, num2 -> float):
    # Subtracts two numbers and returns value

def multiply_num(# Params: num1 -> float, num2 -> float):
    # Multiplies two nums and returns value

def divide_num(# Params: num1 -> float, num2 -> float):
    # Divides two nums and returns value

def modulo_num(# Params: num1 -> float, num2 -> float):
    # Modulos two nums and returns value

def get_average(# Params: *nums) -> float
    # Returns average of numbers
```

In [1]:
# use the import keyword to import our custom module
import comparable as comparable

num1 = 5
num2 = 62.7

In [2]:
# Let's use our add_num method to add our two numbers
comparable.add_num(num1=num1, num2=num2)

67.7

In [3]:
# Our subtract_num method
comparable.subtract_num(num1=num1, num2=num2)

-57.7

In [4]:
# Our multiply method
comparable.multiply_num(num1=num1, num2=num2)

313.5

In [5]:
# Our divide method
comparable.divide_num(num1=num1, num2=num2)

0.07974481658692184

In [6]:
# Our module method
comparable.modulo_num(num1=num1, num2=num2)

5.0

In [7]:
# Our average method
comparable.get_average(1, 2, 3, 4, 5, 6, 7, 8)

4.5

## Now let's import some libraries already installed with Python

#### Pandas, Names, Random, Numpy

In [8]:
# Let's install these modules into our system, it will come handy soon
!pip install names
!pip install pandas 
!pip install random 
!pip install numpy

Requirement already satisfied: names in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.3.0)
Requirement already satisfied: pandas in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

Requirement already satisfied: numpy in c:\users\daiyan\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.21.4)

In [9]:
# use the import keyword to import our pandas. 
# We'll also use a names library to create some random psuedo names and random library to import random numbers
# Let's also use numpy for easier manipulation of numbers and arrays
import pandas as pd
import names as names
import random
import numpy as np

In [10]:
# Let's make a quick dataframe using pandas
# But first, let's make a list of random names for 100 students

student_names = []
for i in range(100):
    student_names.append(names.get_first_name())

# Now let's make random grades for each student
# to do that we need to use the random library
first_quarter = []
for i in range(100):
    first_quarter.append(random.randint(45, 100))

second_quarter = []
for i in range(100):
    second_quarter.append(random.randint(45, 100))

third_quarter = []
for i in range(100):
    third_quarter.append(random.randint(45, 100))

fourth_quarter = []
for i in range(100):
    fourth_quarter.append(random.randint(45, 100))


# Let's make some Faculty members in our school
faculty_names = []
for i in range(5):
    faculty_names.append(names.get_full_name())

# Let's make the list larger with duplicates of the first 20 names
faculty_names = list(np.repeat(faculty_names, 20))

# We can use the shuffle method from the random library to shuffle our list and randomize it
random.shuffle(faculty_names)


# Let's create a dictionary of our school
school_information = {
    'Student Names': student_names,
    'First Semester': first_quarter,
    'Second Semester': second_quarter,
    'Third Semester': third_quarter,
    'Fourth Semester': fourth_quarter,
    'Faculty Name' : faculty_names
}

# Now let's make a Database using our dictionary
school = pd.DataFrame(data=school_information)
school

,Student Names,First Semester,Second Semester,Third Semester,Fourth Semester,Faculty Name
0,Bryan,62,98,70,98,Richard Jenkins
1,Donna,91,72,71,54,Nancy Smith
2,Jeremy,96,83,60,83,Nancy Smith
3,Richard,83,61,54,100,Nancy Smith
4,Amalia,68,64,77,55,Richard Jenkins
...,...,...,...,...,...,...
95,Catherine,80,85,65,78,Edward Bercegeay
96,John,71,47,100,86,Edward Bercegeay
97,Damon,73,98,95,56,Richard Jenkins
98,Luis,60,54,90,68,Richard Jenkins
99,Pamela,46,69,90,93,Brenda Myers

### Now, let's use our custom made Comparable library and create a new column that takes the average of all the grades for a student in a year

In [11]:
# We must use our get_average method
# To create a new column, we simply call the dataframe and type in the new column name in brackets
school['Average'] = comparable.get_average(school['First Semester'], school['Second Semester'], school['Third Semester'], school['Fourth Semester'])
school

,Student Names,First Semester,Second Semester,Third Semester,Fourth Semester,Faculty Name,Average
0,Bryan,62,98,70,98,Richard Jenkins,82.0
1,Donna,91,72,71,54,Nancy Smith,72.0
2,Jeremy,96,83,60,83,Nancy Smith,80.5
3,Richard,83,61,54,100,Nancy Smith,74.5
4,Amalia,68,64,77,55,Richard Jenkins,66.0
...,...,...,...,...,...,...,...
95,Catherine,80,85,65,78,Edward Bercegeay,77.0
96,John,71,47,100,86,Edward Bercegeay,76.0
97,Damon,73,98,95,56,Richard Jenkins,80.5
98,Luis,60,54,90,68,Richard Jenkins,68.0
99,Pamela,46,69,90,93,Brenda Myers,74.5